@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background:linear-gradient(#f3f3fb 50%, #377dff);
}

.wrapper {
  width: 420px;
  border-radius: 7px;
  background: #377dff;
  padding: 30px 30px 35px;
}
